* {
    font-family: Helvetica;
}

header {
    background-image: url("/Users/taylorlee/Documents/CodecademyProjects/Dasmoto's_Arts_and_Crafts/resources/images/pattern.jpeg");
    background-size: cover;
}

header h1{
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
}

h2.title {
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.brushes {
    background-color: mediumspringgreen;
    width: 100%;
}

.frames {
    background-color: lightcoral;
    width: 100%;
}

.paint {
    background-color: skyblue;
    width: 100%;
}

